{% extends 'base.html' %}
{% load static %}
{% block title %} ISTE WB Section {% endblock title %}

{% block join-iste %}active{% endblock %}

{% block content %} {% load widget_tweaks %}

<br>

<div class="container">
    <div>
        <div>
            <h2 style="margin-left:20px;text-align: center;">
                How to Establish an ISTE Students Chapter
            </h2>
        </div>
        <div style=" padding-left:15px;padding-top:15px; padding-right: 25px; padding-bottom: 5px;">
            <div style="text-align: justify;font-size: 16px;">
                <p>
                <div style="margin-bottom: 15px;">
                    <span style="font-size: 21px;color: #507bfc"><b>STEP BY STEP PROCEDURE</b></span><b><span></span>
                        </span></b>
                </div>
                <ul>
                    <li>
                        The Institution, where the Chapter is to be established, must have been approved by
                        the AICTE and also must be an Institutional Member of ISTE.</li>
                </ul>
                <ul>
                    <li>
                        Cards to students will be issued for entire duration of the course initially in
                        their first year.</li>
                </ul>
                <ul>
                    <li>
                        On receiving the above, ISTE office will send you the following :</li>
                </ul>
                <p style="text-align: justify; margin-left: 80px;">
                    Student Chapter Formation Certificate</p>
                <p style="text-align: justify; margin-left: 80px;">
                    Cards to respective students</p>
                <ul>
                    <li>
                        On receipt of the above details, convene a meeting of the ISTE Student members to
                        elect the following office bearers and send the list to ISTE Headquarters :</li>
                </ul>
                <p style="text-align:justify">
                    – Student Chairperson</p>
                <p>
                    – 3 to 7 members <br />
                </p>
                <ul>
                    <li>
                        Arrange the inauguration of the Chapter in a befitting function and conduct the
                        following activities:</li>
                </ul>
                <ul>
                    <li style="margin-left: 40px;">
                        Organise weekly quiz programmes for members.</li>
                    <li style="margin-left: 40px;">
                        Organise lectures by experts from industry, R&D organisations, defence services,
                        government departments and other institutions.</li>
                    <li style="margin-left: 40px;">
                        Coaching programme for writing competitive examinations and attending job interview.
                    </li>
                    <li style="margin-left: 40px;">
                        Training programme on report writing, Project Management</li>
                    <li style="margin-left: 40px;">
                        Cultural programmes</li>
                    <li style="margin-left: 40px;">
                        Counselling Services</li>
                    <li style="margin-left: 40px;">
                        Entrepreneurship development programmes</li>
                    <li style="margin-left: 40px;">
                        Lectures on Moral Values and Ethics</li>
                    <li style="margin-left: 40px;">
                        Discussions, brain-storming sessions, group activities</li>
                    <li style="margin-left: 40px;">
                        Training in public speaking </li>
                    <li style="margin-left: 40px;">
                        Training in becoming a Master Student</li>
                    <li style="margin-left: 40px;">
                        Visits to industry, work sites</li>
                    <li style="margin-left: 40px;">
                        Programmes in leadership and personality development </li>
                    <li style="margin-left: 40px;">
                        Training in co-operative learning </li>
                    <li style="margin-left: 40px;">
                        Training on Environmental Awareness</li>
                    <li style="margin-left: 40px;">
                        Training on Basic Management Skills</li>
                </ul>
                <ul>
                    <li>
                        Minimum strength to establish ISTE student chapter (first time) in AICTE approved
                        institution is 100 students or 50% of annual intake (whichever is less) provided
                        institute is institutional member of ISTE first.</li>
                </ul>
                <ul>
                    <li style="text-align: justify;">
                        The proportionate share of the Bank interest on the Life Membership fee shall be
                        remitted to the Chapter on receipt of the satisfactory report of Activities and
                        Audited Statement of Accounts for the preceding year from the Chapter through proper
                        channel. The request for the release of the Chapter share should be sent to the
                        Headquarters during the month of July of every year. </li>
                </ul>
                <ul>
                    <li style="text-align: justify;">
                        Student Chapter can retain their share 50% of basic fee out of total fee collected
                        and send the rest amount to ISTE Delhi for necessary action.</li>
                </ul>
                <p style="text-align:justify">
                </p>
                <p>
                    <span><strong><span style="background:#FEFEFE;"><span style="color:black;"><span>ONLINE MEMBERSHIP
                                        PORTAL</span></span></span></strong></span>
                </p>
                <p>
                    <span style="background:#FEFEFE;"><span style="color:black;"><span><span>From January 2022, ISTE has
                                    launched Online
                                    Portal for all membership related work viz. new application for
                                    Institutional Membership, Life Membership, Student Membership and
                                    payment of fee via the same ONLINE PORTAL. All the recognised Technical
                                    Institutions/Institutional Members of ISTE/AICTE approved engineering
                                    colleges (degree & diploma)/Polytechnics/Life Members of ISTE requested
                                    to kindly utilize this <span style="border:none windowtext 1px;padding:0cm;">Online
                                        Web Portal
                                    </span></span></span></span></span><span><span><span
                                style="background:#FEFEFE;"><span style="color:black;">for applying and
                                    making payments as no manual form or DD will be accepted.
                                </span></span></span></span>
                </p>
                <p style="margin-left: 31.5pt; text-indent: -31.5pt; text-align: center;">
                    <span style="font-size:20px;"><a href="https://membership.isteonline.in/" style="font-size: 14.6667px;
                            text-indent: 48px;" target="_blank"><strong><span
                                    style="border: 1pt none windowtext; padding: 0cm;"><span
                                        style="color: black;">https://membership.isteonline.in/</span></span></strong></a><span
                            style="text-indent: 48px; background:
                            rgb(254, 254, 254);"><span style="color: black;"> </span></span></span>
                </p>
                <p style="margin-left:31.5pt;text-align:justify;text-indent:-31.5pt;">
                </p>
                <p style="text-align:justify">
                </p>

                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}