{% extends 'base.html' %}
{% load static %}
{% block title %} ISTE WB Section {% endblock title %}

{% block join-iste %}active{% endblock %}

{% block content %} {% load widget_tweaks %}

<br>

<div class="container">
    <div>
        <div>
            <h2 style="text-align: center;">
                How to establish an ISTE Chapter
            </h2>
        </div>
        <div style=" padding-left:15px;padding-top:15px; padding-right: 25px; padding-bottom: 5px;">
            <div style="text-align: justify;">
                <p>

                <div style="margin-bottom: 15px;">
                    <span style="font-size: 21px;color: #507bfc"><b>STEP BY STEP PROCEDURE</b></span><b><span></span>
                        </span></b>
                </div>
                <div>
                    <b><span>Step – 1 :</span></b><span> The Institution, where the Chapter is
                        to be established, <b>must have been approved by the AICTE and also must be an
                            Institutional Member of ISTE. </b></span>
                </div>
                <div>
                    <b><span>Step – 2 :</span></b><span> Enrol 25 persons or more as ISTE
                        members by filling up the prescribed application forms and returning them to ISTE
                        Headquarters alongwith the membership fee by way of a DD in favour of <b>"ISTE, New
                            Delhi".</b></span>
                </div>
                <div>
                    <b><span> </span></b><span>-</span><span>
                        A single and combined DD may be drawn if members are more than one as per fee
                        applicable.</span>
                </div>
                <div>
                    <span> </span><span>-</span><span>
                    </span><span>Do not club the faculty
                        membership fee with student membership fee. It should be sent separately.</span>
                </div>
                <div>
                    <b><span>Step – 3 :</span></b><span> On receiving the above, ISTE office
                        will send you the following :</span>
                </div>
                <div>
                    <span> - Individual Membership Receipts,
                        Cards and Certificates (for life members only).</span>
                </div>
                <div>
                    <span> - Chapter Formation Certificate and
                        Instructions to Chapters </span>
                </div>
                <div>
                    <span> - Chapter share will be calculated at
                        ISTE Headquarters and released only subject to submission of report of Chapter
                        activities and an Audited Statement of Accounts.Chapter share is applicable on
                        interest accrued on life membership fee only. No chapter share is applicable on
                        annual membership fee.</span>
                </div>
                <div>
                    <b><span>Step – 4 :</span></b><span> On receipt of the above details,
                        convene a meeting of the ISTE members to elect the following office bearers and send
                        the list to ISTE Headquarters : </span>
                </div>
                <div>
                    <span> – Chairperson</span>
                </div>
                <div>
                    <span> – Secretary-cum-Treasurer</span>
                </div>
                <div>
                    <span> – 3 to 7 members from among life
                        members</span>
                </div>
                <div>
                    <b><span>Step – 5 :</span></b><span> Arrange the inauguration of the Chapter
                        in a befitting function and conduct the following activities :</span>
                </div>
                <div>
                    <span> - Lecture by Guest Faculty/Industry
                        personality/local faculty returning from training programmes, seminars/local
                        faculty.</span>
                </div>
                <div>
                    <span> </span><span>- </span><span>Training programme for a group of
                        teachers by local/guest experts, i.e. computer awareness, CAD/CAM, teaching methods,
                        project report writing, use of teaching aids, etc.</span>
                </div>
                <div>
                    <span> </span><span>- </span><span>Visits to work sites, industries,
                        exhibitions, other institutions, R&D organizations</span>
                </div>
                <div>
                    <span> </span><span>- </span><span>Quiz programmes, competitions.</span>
                </div>
                <div>
                    <span> </span><span>- </span><span>Organise programmes using course modules
                        available with ISTE.</span>
                </div>
                <div>
                    <span> The following course modules are
                        available with the ISTE:</span>
                </div>
                <div>
                    <span> </span><span> -</span><span>
                    </span><span>Induction Training for
                        Teachers</span>
                </div>
                <div>
                    <span> </span><span>-</span><span>
                    </span><span>Institutional Management</span>
                </div>
                <div>
                    <span> </span><span>-</span><span>
                    </span><span>Industry-Institute
                        Interaction</span>
                </div>
                <div>
                    <span> </span><span>-</span><span>
                    </span><span>Strategic Planning for
                        Institutional Development</span>
                </div>
                <div>
                    <span> </span><span>-</span><span>
                    </span><span>Performance Appraisal and
                        Development System</span>
                </div>
                <div>
                    <span> </span><span>-</span><span>
                    </span><span>Leadership in
                        Institutions</span>
                </div>
                <div>
                    <span> </span><span>-</span><span>
                    </span><span>TQM in Technical Education
                    </span>
                </div>
                <div>
                    <span> </span><span>-</span><span>
                    </span><span>Women in Development</span>
                </div>
                <div>
                    <span> </span><span>-</span><span>
                    </span><span>Primary Management Skills
                    </span>
                </div>
                <div>
                </div>
                <div>
                </div>
                <div>
                    <span>The annual interest on Life
                        Membership fee will be distributed as follows for the activities of Chapters,
                        Sections and Headquarters :</span>
                </div>
                <div>
                    <b><span> Details of Membership Chapter
                            Share Section Share Hqrs. Share</span></b>
                </div>
                <div>
                    <b><span>LM Number 0001 to
                            12140</span></b><span> Rs. 4.00
                        Rs. 2.00 Rs. 4.00</span>
                </div>
                <div>
                    <span>(Joined upto 31-12-1991)</span>
                </div>
                <div>
                    <b><span>LM Number 12141 to
                            19720</span></b><span> Rs. 8.00
                        Rs. 4.00 Rs. 8.00</span>
                </div>
                <div>
                    <span>(1-1-1992 to 31-3-1994)</span>
                </div>
                <div>
                    <b><span>LM Number 19721 to
                            27000</span></b><span> Rs. 20.00
                        Rs. 10.00 Rs. 20.00</span>
                </div>
                <div>
                    <span>(1-4-1994 to 31-3-1998)</span>
                </div>
                <div>
                    <b><span>LM Number 27001
                            onwards</span></b><span> Rs.
                        40.00 Rs. 20.00 Rs. 40.00</span>
                </div>
                <div>
                    <span>(1-4-1998 onwards)</span>
                </div>
                <div>
                </div>
                <div style="margin-top: 15px;">
                    <b><span>Note :</span></b> <span>1. The above mentioned distribution
                        of annual interest on Life Membership fee @ 5% p.a. is on per-member-basis.</span>
                </div>
                <div>
                    <span> 2. The admission fee, if so any,
                        is retained by the Headquarters. </span>
                </div>
                <div>
                    <span> 3. The Institutional Membership is
                        retained in full by the Headquarters for developmental activities. No chapter share
                        <span>applicable on this.</span></span>
                </div>
                <div>
                </div>
                <div style="margin-top: 15px;">
                    <b><span>CHAPTER SHARE</span></b>
                </div>
                <div>
                    <span> </span><span>The
                        proportionate share of the Bank interest on the Life Membership fee shall be
                        remitted to the Chapter on receipt of the satisfactory report of Activities and
                        Audited Statement of Accounts for the preceding year from the Chapter through proper
                        channel. The request for the release of the Chapter share should be sent to the
                        Headquarters during the month of July of every year. Student Chapter can retain
                        their share out of total fee collected and send the rest amount to ISTE Delhi for
                        necessary action.</span>
                </div>
                <div style="margin-top: 15px;">
                    <b><span>SECTION SHARE</span></b>
                </div>
                <div>
                    <span> The Section shall make an annual
                        report of Activities and Audited Statement of Accounts every year and shall send
                        them to ISTE Headquarters during July of every year. The Section's share shall be
                        released only on the receipt of these details.</span>
                </div>
                <div>
                </div>

                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}