{% extends 'base.html' %}
{% load static %}
{% block title %} ISTE WB Section {% endblock title %}

{% block join-iste %}active{% endblock %}

{% block content %} {% load widget_tweaks %}

<br>
<div class="container">
    <div>
        <div>
            <h2 style="text-align: center; margin-left:20px;">
                Incentives to ISTE Student Chapters
            </h2>
        </div>
        <div style=" padding-left:15px;padding-top:15px; padding-right: 25px; padding-bottom: 5px;">
            <div style="text-align: justify;">
                <p>
                <div style="margin-bottom:11.5pt;text-align:justify;">
                    <span style="font-size: 17.3333px;"><b> </b></span>
                </div>
                <div style="margin-bottom:5.75pt;text-align:justify;">
                    <span style="color: #507bfc;"><span style="background-color: rgb(255, 255, 255);"><span
                                style="font-size: medium;"><b>Best Students Chapter
                                    Award</b></span></span></span>
                </div>
                <div style="margin-bottom:5.75pt;text-align:justify;">
                    <span 1="" 10="" 15="" a="" an="" and="" annual="" are="" as="" at="" award="" based="" be=""
                        best="" by="" certificate="" chapter="" chapters="" committee.="" concerned="" consisting=""
                        convention="" div="" during="" each="" from="" given="" in="" iste="" january="" judged=""
                        least="" managing="" of="" on="" one="" performance="" period="" plaque="" presented=""
                        provided="" section="" september="" span="" student="" students="" the="" their="" there=""
                        to="" will=""> All Students Chapters Managing Committees are requested to kindly
                        select one best student from their Student Chapter on the basis of overall
                        performance of the student members. The name of student selected may please be sent
                        to their Section. The ISTE Section will give the Best Student Award to the Students
                        during the Section Level Convention. Student Chapters are kindly requested to get in
                        touch with their Section regarding date, time and venue of the Convention.</span>
                </div>
                <div>
                    <span style="color: #507bfc;"><span style="font-size: medium;"><b>Annual
                                Convention of ISTE Student Members</b></span></span><b> </b>
                </div>
                <div style="margin-bottom:5.75pt;text-align:justify;">
                    <span 10="" 5="" a="" all="" an="" and="" annual="" are="" be="" can="" chapter="" convention=""
                        convention.="" days="" div="" during="" each="" following="" from="" in="" iste="" may=""
                        members="" more="" november.="" of="" or="" organise="" participate="" plan="" programme=""
                        requested="" section="" sections="" selected="selected" span="" student="" students="" the=""
                        three="" to="" two="" with="">– Quiz
                        programmes</span>
                </div>
                <div>
                    <span div="" of="" on="" papers="" presentation="" selected="selected" span="" technical="">–
                        Cultural programmes</span>
                </div>
                <div>
                    <span address="" by="" div="" eminent="" span="" special="">– Exhibition of project work.</span>
                </div>
                <div style="margin-bottom:5.75pt;text-align:justify;">
                    <span design="" div="" span=""> Financial support for
                        the Convention may be sought from State Government, Universities, Industries and
                        other Agencies.</span>
                </div>
                <div style="margin-top:0cm;margin-right:0cm;margin-bottom:11.5pt;
margin-left:42.75pt;text-align:justify;text-indent:-42.75pt;">
                    <b><span note="" span="">The Principal/Management of
                            the Institution is requested to provide TA/ DA to the ISTE Student Members, from
                            the funds of the Institution ISTE Students Chapter, for attending the above
                            mentioned activities.</span></b>
                </div>
                <div style="text-align:justify;
">
                    <b> </b>
                </div>
                <div>
                    <b><span style="font-size: medium;"><span style="color: #507bfc;"><b><u>REVISION
                                        OF ISTE STUDENTS MEMBERSHIP FEES</u></b></span></span></b>
                </div>
                <div>
                </div>
                <div style="text-align: justify; ">
                    <b>The student membership fee has been revised and <font color="#000000"
                            face="Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif"><span
                                style="font-size: 14px;">the revised fees given below w.e.f. 1/1/2018</span>
                        </font></b>
                </div>
                <div style="text-align: justify; ">
                </div>
                <div style="text-align:justify">
                    <table border="1" cellpadding="0" cellspacing="0" segoe=""
                        style="margin: 0px 0px 20px; padding: 0px; border: none; outline: 0px; font-size: 14px; vertical-align: baseline; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; border-collapse: collapse; color: rgb(0, 0, 0); font-family: Calibri, Candara, Segoe, "
                        width="889" width:="">
                        <tbody
                            style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent;">
                            <tr
                                style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; height: 23px;">
                                <td
                                    style="margin: 0px; padding: 0cm 5.4pt; border: 1pt solid black; outline: 0px; vertical-align: top; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; width: 66px; height: 23px;">
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                </td>
                                <td
                                    style="margin: 0px; padding: 0cm 5.4pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: none; border-image: initial; outline: 0px; vertical-align: top; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; width: 384px; height: 23px;">
                                </td>
                                <td
                                    style="margin: 0px; padding: 0cm 5.4pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: none; border-image: initial; outline: 0px; vertical-align: top; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; width: 220px; height: 23px;">
                                </td>
                                <td
                                    style="margin: 0px; padding: 0cm 5.4pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: none; border-image: initial; outline: 0px; vertical-align: top; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; width: 220px; height: 23px;">
                                </td>
                            </tr>
                            <tr
                                style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent;">
                                <td
                                    style="margin: 0px; padding: 0cm 5.4pt; border-top: none; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; outline: 0px; vertical-align: top; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; width: 66px;">
                                    <p align="center"
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; text-align: center; line-height: normal;">
                                    </p>
                                    <p align="center"
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; text-align: center; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        .</p>
                                    <p align="center"
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; text-align: center; line-height: normal;">
                                    </p>
                                    <p align="center"
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; text-align: center; line-height: normal;">
                                    </p>
                                    <p align="center"
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; text-align: center; line-height: normal;">
                                    </p>
                                    <p align="center"
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; text-align: center; line-height: normal;">
                                    </p>
                                    <p align="center"
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; text-align: center; line-height: normal;">
                                    </p>
                                </td>
                                <td
                                    style="margin: 0px; padding: 0cm 5.4pt; border-top: none; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: none; border-image: initial; outline: 0px; vertical-align: top; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; width: 384px;">
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        <strong
                                            style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent;"><u
                                                style="margin-bottom: 0px;">STUDENT MEMBERSHIP</u></strong>
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        -MBA /M Tech. Students 2 yrs PG course</p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        -MCA Students 3yrs PG course</p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        -3 yrs Diploma in Engg. & Tech (Polytechnic)</p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        -BE/B.TECH/B. Pharma/HMCT(4Yrs)</p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        -Student Membership Fee B.Arch. (5 yrs)</p>
                                </td>
                                <td
                                    style="margin: 0px; padding: 0cm 5.4pt; border-top: none; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: none; border-image: initial; outline: 0px; vertical-align: top; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; width: 220px;">
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        Rs. 150 + 27</p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        Rs. 200 + 36</p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        Rs. 200 + 36</p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        Rs. 250 + 45</p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        Rs. 300 + 54</p>
                                </td>
                                <td
                                    style="margin: 0px; padding: 0cm 5.4pt; border-top: none; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: none; border-image: initial; outline: 0px; vertical-align: top; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; width: 220px;">
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        =Rs. 177/- per student</p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        =Rs. 236/- per student</p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        =Rs. 236/- per student</p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        =Rs. 295/- per student</p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        =Rs. 354/- per student</p>
                                </td>
                            </tr>
                            <tr
                                style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent;">
                                <td
                                    style="margin: 0px; padding: 0cm 5.4pt; border-top: none; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; outline: 0px; vertical-align: top; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; width: 66px;">
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                    </p>
                                </td>
                                <td
                                    style="margin: 0px; padding: 0cm 5.4pt; border-top: none; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: none; border-image: initial; outline: 0px; vertical-align: top; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; width: 384px;">
                                </td>
                                <td
                                    style="margin: 0px; padding: 0cm 5.4pt; border-top: none; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: none; border-image: initial; outline: 0px; vertical-align: top; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; width: 220px;">
                                </td>
                                <td
                                    style="margin: 0px; padding: 0cm 5.4pt; border-top: none; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: none; border-image: initial; outline: 0px; vertical-align: top; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; width: 220px;">
                                    <p
                                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: normal;">
                                        t</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p line-height:="" segoe=""
                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(0, 0, 0); font-family: Calibri, Candara, Segoe, ">
                        The distribution of share of chapters is 50% on basic fee. Admission fee of Rs.50/-
                        will be utilised for ISTE Hqrs. for various activities and no share shall be
                        applicable on admission fee.</p>
                    <p line-height:="" segoe=""
                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(0, 0, 0); font-family: Calibri, Candara, Segoe, ">
                    </p>
                    <p style="margin-top: 15px ;">
                        <span style="font-size:16px;"><strong><span style="background:#FEFEFE;"><span
                                        style="color:black;"><span style="font-family:bookman old style,serif;">ONLINE
                                            MEMBERSHIP
                                            PORTAL</span></span></span></strong></span>
                    </p>
                    <p style="text-indent: 36pt;">
                        <span style="background:#FEFEFE;"><span style="color:black;"><span
                                    style="font-family:bookman old style,serif;"><span>From
                                        January 2022, ISTE has launched
                                        Online Portal for all membership related work viz. new application
                                        for Institutional Membership, Life Membership, Student Membership
                                        and payment of fee via the same ONLINE PORTAL. All the recognised
                                        Technical Institutions/Institutional Members of ISTE/AICTE approved
                                        engineering colleges (degree & diploma)/Polytechnics/Life Members of
                                        ISTE requested to kindly utilize this <span
                                            style="border:none windowtext 1px;padding:0cm;">Online Web
                                            Portal </span></span></span></span></span><span
                            style="font-family:bookman old style,serif;"><span><a
                                    href="https://membership.isteonline.in/" target="_blank"><strong><span
                                            style="border:none windowtext 1px;padding:0cm;"><span
                                                style="color:black;">https://membership.isteonline.in/</span></span></strong></a><span
                                    style="background:#FEFEFE;"><span style="color:black;"> for applying and
                                        making payments as no manual form or DD will be accepted.
                                    </span></span></span></span>
                    </p>
                    <p style="margin-left: 31.5pt; text-indent: -31.5pt;">
                    </p>
                    <p style="margin-left: 31.5pt; text-indent: -31.5pt;">
                    </p>
                    <p line-height:="" segoe=""
                        style="margin: 0px 0px 0.0001pt; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(0, 0, 0); font-family: Calibri, Candara, Segoe, ">
                    </p>
                </div>
                <div>
                    <span style="font-size: 13.3333px;"><b> </b></span>
                </div>

                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}