{% extends 'base.html' %}
{% load static %}
{% block title %} ISTE WB Section {% endblock title %}

{% block contact %}active{% endblock %}

{% block content %} {% load widget_tweaks %}

<section class="container mt-5">
    <!--Contact heading-->
    <div class="row">
        <div class="col-sm-12 text-center mb-4">
            <h1>Contact Us</h1>
        </div>
        <!--Grid column-->
       
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-sm-12 col-md-12">
            <!--Google map-->
            <div class="mb-4">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1872625.5492124276!2d85.18690739999998!3d23.551493800000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a027127737c74db%3A0xadecfaaf32b99c8a!2sIndian%20Institute%20for%20Secondary%20%26%20Technical%20Education!5e0!3m2!1sen!2sin!4v1665154110477!5m2!1sen!2sin"
                    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
            <!--Buttons-->
            <div class="row text-center">
                <div class="col-md-4">
                    <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"><i
                            class="fa fa-map-marker"></i></a>
                    <p> {{data.0.location}}</p>
                </div>
                <div class="col-md-4">
                    <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"><i
                            class="fa fa-phone"></i></a>
                    <p>{{data.0.phone1}}</p>
                    <p>{{data.0.phone2}}</p>
                </div>
                <div class="col-md-4">
                    <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"><i
                            class="fa fa-envelope"></i></a>
                    <p>{{data.0.email}}</p>
                </div>
            </div>
        </div>
        <!--Grid column-->
    </div>
</section>

{% endblock %}