{% extends 'base.html' %}
{% load static %}
{% block title %} ISTE WB Section {% endblock title %}

{% block events %}active{% endblock %}

{% block content %} {% load widget_tweaks %}

<div class="container border flex mt-4">
    <table class="container">
        <tr>
            <th>Event</th>
            <th>Date</th> 
            <th>Details</th>
            <th>Link</th>
        </tr>
            {% for column in data %}
            <tr>
                <td>{{column.EventName}}</td>
                <td>{{column.eventDate}}</td>
                <td>
                 {%if column.file1 %}   <a  href="http://127.0.0.1:8000/media/{{column.file1}}">download pdf file</a> <br>{% endif %}
                 {%if column.file2 %}  <a  href="http://127.0.0.1:8000/media/{{column.file2}}">download pdf file</a> <br>{% endif %}
                 {%if column.file3 %} <a  href="http://127.0.0.1:8000/media/{{column.file3}}">download pdf file</a> <br>{% endif %}
                </td>
                <td>
                    {%if column.Link1 %}   <a  href="{{column.Link1}}">{{column.Link1}}</a> <br>{% endif %}
                    {%if column.Link2 %}  <a  href="{{column.Link2}}">{{column.Link2}}</a> <br>{% endif %}
                    {%if column.Link3 %} <a  href="{{column.Link3}}">{{column.Link3}}</a> <br>{% endif %}
                </td>
            </tr>
            {% endfor %}
    
     </table>
</div>


{% endblock %}