{% extends 'base.html' %} 
{% load static %} 
{% block title %} ISTE WB Section{% endblock title %}
 {% block gallery %}active{% endblock %} 
 {% block content %} 
{% load widget_tweaks %}

<div class="gallery">
  <h1>GALLERY</h1>
  <div class="gallery-container">
    {% for images in data %}
    <div class="gallery-item" data-index="{{images.id}}">
      <img  style="height:80%" src="http://127.0.0.1:8000/media/{{images.image}}" />
      <p class="text-center m-0 ">{{images.title}}</p>
      <p  class="text-center ">{{images.date}}</p>
    </div>
    {% endfor %}
  </div>
</div>

<script src="{% static 'js/gallery.js' %}"></script>

{% endblock %}
