{% extends 'base.html' %} 
{% load static %} 
{% block title %} ISTE WB Section{% endblock title %}
 {% block gallery %}active{% endblock %} 
 {% block content %} 
{% load widget_tweaks %}

<div class="gallery">
  <h1>GALLERY</h1>
    {% if images %}
      <div class="gallery-container">
        {% for image in images %}
        <div class="gallery-item" data-index="{{image.id}}">
          <img  style="height:80%" src="{{image.image.url}}" />
          <p class="text-center m-0 ">{{image.title}}</p>
          <p  class="text-center "><i class="fas fa-calendar"></i> {{image.date}}</p>
        </div>
        {% endfor %}
      </div>
    {% else %}
      <br>
      <p style="text-align: center;">
        We are building Gallery with the latest images from our events.
      </p>
    {% endif %}
</div>

<script src="{% static 'js/gallery.js' %}"></script>

{% endblock %}
