{% extends 'base.html' %}
{% load static %}
{% block title %} ISTE WB Section {% endblock title %}

{% block home_active %}active{% endblock %}

{% block content %} {% load widget_tweaks %}
<div id="carouselExampleDark" class="carousel carousel-dark slide carouselHeight" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        {% for carousel in c_data %}
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{carousel.id}}"
            aria-label="Slide"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner carouselHeight" >
        <div class="carousel-item active carouselHeight" data-bs-interval="10000" >
            <img src="{% static 'image/carousel1.jpg'%}" class="d-block w-100" alt="">
        </div>
        {% for carousel in c_data %}
        <div class="carousel-item carouselHeight" data-bs-interval="10000" >
            <img src="{{carousel.image.url}}" class="d-block w-100" alt="">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div style="background-color: #111a2d; color: white;">
    <marquee style="padding:2px" onmouseover="this.stop();" onmouseout="this.start();">
        {% if announcements %}
            {% for announcement in announcements %}
                {% if announcement.file %}
                <a href="{{announcement.file.url}}" style="text-decoration: none; color: white;">
                    <strong>{{announcement.title}}</strong>
                </a> 
                |
                {% else %}
                <strong>{{announcement.title}} |</strong>
                {% endif %}
            {% endfor %}
        {% endif %}
    </marquee>
</div>
<div class="container">
    <div class="row about_section">
        <div style="text-align: left;">
            <h2> Welcome to the Website of ISTE West Bengal Section…! </h2>
            <p>
                It is an honour and a source of pleasure to note that the ISTE WB section and ISTE chapters in West Bengal are consistently involved in promoting and enhancing the quality and esteem of technical education. The section and chapters routinely conduct technical events such as symposiums, seminars, technical presentations, site visits, exhibitions, etc. Some of the chapter performances are truly outstanding. The Section sponsors yearly conventions with state-level faculty chapter seminars and conferences.
                <br><br>
                The ISTE West Bengal Section encourages its member institutes to conduct faculty development programs for teachers of technical education imparting institutes/colleges. In addition to obtaining financing help from ISTE New Delhi, the institutions self-finance the courses. Through the ISTE Headquarters, the Section offers financial support to hosting institutions for the organization of Annual State Conventions for faculty and student members.
            </p>
        </div>
    </div>

    <div class="row">
        <!-- <h1 class="h1-text">
            <i class="fa fa-users" aria-hidden="true"></i>Team Members
        </h1> -->
        <div class="team-container">
            <div class="team-box" style="max-width: 320px;">
                <div class="top-bar"></div>
                <div class="content">
                    <img src="{{chairman.image.url}}"
                        alt="">
                    <strong>{{chairman.name}}</strong>
                    <p>{{chairman.post.title}}</p>
                    <p class="card-text" style="margin-bottom: 15px ;">
                        {{chairman.introduction |safe}}
                    </p>
                </div>
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop_Chairman">
                    Know More... 
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop_Chairman" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">{{chairman.name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12" style="text-align: center;">
                                    <div class="col-md-12 col-lg-12">
                                        <img class="card-img" src="{{chairman.image.url}}" alt="Card image" style="width:50%">
                                    </div>
                                    <br>
                                    <h4>{{chairman.name}}</h4>
                                    <h5>{{chairman.post.title}}</h5>
                                    {{chairman.introduction |safe}}
                                    <br>
                                    {% if chairman.link %}
                                        <br>
                                        <a href="{{chairman.link}}" target="_blank">Profile Link</a>
                                    {% endif %}
                                    <hr>
                                    {{chairman.description | safe}}
                                </div>
                                </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    
            </div>
            <div class="team-box" style="max-width: 320px;">
                <div class="top-bar"></div>
                <div class="content">
                    <img src="{{secretary.image.url}}"
                        alt="">
                    <strong>{{secretary.name}}</strong>
                    <p>{{secretary.post.title}}</p>
                    <p class="card-text" style="margin-bottom: 15px ;">
                        {{secretary.introduction| safe}}
                    </p>
                </div>
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop_Secretary">
                    Know More... 
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop_Secretary" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">{{chairman.name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12" style="text-align: center;">
                                    <div class="col-md-12 col-lg-12">
                                        <img class="card-img" src="{{secretary.image.url}}" alt="Card image" style="width:50%">
                                    </div>
                                    <br>
                                    <h4>{{secretary.name}}</h4>
                                    <h5>{{secretary.post.title}}</h5>
                                    {{secretary.introduction | safe}}
                                    <br>
                                    {% if secretary.link %}
                                        <br>
                                        <a href="{{secretary.link}}" target="_blank">Profile Link</a>
                                    {% endif %}
                                    <hr>
                                    {{secretary.description | safe}}
                                </div>
                                </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    
            </div>

        </div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-md-12 col-lg-6 announcements">
            <div style="height: 20%;padding: 0 20px;margin-bottom: 30px;" >
                <h1 class="copyCenter">Announcements</h1>
                <div class="announcementHeaderLine"></div>
            </div>
            <div class="container">
                {% if announcements %}
                {% for announcement in announcements %}
                <div class="box newsletter">
                    <div class="copyArea">
                        <img src="{% static 'image/tnew.gif'%}">
                        {% if announcement.file %}
                            <a href="{{announcement.file.url}}" target="_blank">
                                <strong>{{announcement.title}}</strong>
                            </a>
                            {% else %}
                            <strong>{{announcement.title}}</strong>
                        {% endif %}
                        | (<strong>{{announcement.date}}</strong> )
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p style="text-align:center">New announcements to be released soon...</p>
                {% endif %}

            </div>
        </div>
        <div class="col-md-12 col-lg-6 announcements eventsBoard">
            <div style="height: 20%;padding: 0 20px;margin-bottom: 30px;" >
                <h1 class="copyCenter">Events</h1>
                <div class="announcementHeaderLine"></div>
            </div>
            <div class="container">
                {% if upcoming_events or past_events %}
                    {% if upcoming_events %}
                        {% for event in upcoming_events %}
                        <div class="box newsletter">
                            <div class="copyArea">
                                <img src="{% static 'image/tnew.gif'%}">
                                <a href="{% url 'home:events' %}" style="text-decoration:none"><strong>{{event.title}}</strong></a>
                                <br><strong>{{event.date}}</strong> | {{event.venue}}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% if past_events %}
                        {% for event in past_events %}
                        <div class="box newsletter">
                            <div class="copyArea">
                                <a href="{% url 'home:events' %}" style="text-decoration:none"><strong>{{event.title}}</strong></a>
                                <br><strong>{{event.date}}</strong> | {{event.venue}}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <p style="text-align:center">We are planning for exciting events...</p>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<script>
    const scr = document.getElementsByClassName("scr");

    $(window).resize(function () {
        var widthWindow = $(window).width();
        if (widthWindow <= '800') {
            $(scr).addClass('order-first');
        }
        else {
            $(scr).removeClass('order-first');
        }
    });
    $(window).trigger('resize');
</script>


{% endblock %}