{% extends 'base.html' %}
{% load static %}
{% block title %} ISTE WB Section {% endblock title %}

{% block about-iste %}active{% endblock %}

{% block content %} {% load widget_tweaks %}
<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-12 col-lg-12" >
            <h2 style="text-transform: uppercase ; text-align: center;"> ISTE West Bengal Section </h2>
            <p>
                <br>
                The ISTE West Bengal Section was established with a focus on the creation of initiatives for the expansion of technical education at the state level. The ISTE WB section has maintained its growth and development trajectory since its beginnings. With almost 2230 student members, 1085 life members, and 54 institutional members (37 degree and 17 diploma institutes), it presently has an impressive strength. ISTE has 13 chapters, and the section also has 15 number of student chapters (Ref. Annual Report of ISTE, 2021).
            </p>
        </div>
    </div>
</div>
{% endblock %}