{% extends 'base.html' %}
{% load static %}
{% block title %} ISTE WB Section {% endblock title %}

{% block about-section %}active{% endblock %}

{% block content %} {% load widget_tweaks %}
<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-12 col-lg-12" style="text-align: center;">
            <h2 style="text-transform: uppercase ; text-align: center;"> ISTE West Bengal Section </h2>
            <p>
                <br>
                The Indian Society for Technical Education (ISTE) is the leading National Professional non-profit making
                Society for the Technical Education System in our country with the motto of Career Development of
                Teachers and Personality Development of Students and overall development of our Technical Education
                System. Being the only national organisation of educators in the field of Engineering and Technology,
                ISTE effectively contributes in various missions of the Union Government. The strength of ISTE is the
                strong base it has in technical education institutions in the country.
                <br><br>
                ISTE has an Executive Council at National level. It has active membership of more than 128500 technical
                teachers, 535000 student members, more than 2740 institutional members (including IITs, IISc., NITs and
                other leading technical institutions), 1414 faculty chapters and 1505 students’ chapters at National
                level and 19 Sections at State Level .
                <br><br>
                The major objective of the ISTE is to provide quality training programmes to teachers and administrators
                of technical institutions to update their knowledge and skills in their fields of activity and to assist
                and contribute in the production and development of top quality professional engineers and technicians
                needed by the industry and other organisations.
                <br><br>
                It organizes an annual convention for faculty and students separately every year where a large number of
                technocrats, technical teachers, policy makers, experts from the industry etc. participate and interact.
                Every year a National Seminar with a specific theme with respect to the latest development in the field
                of Science and Technology and societal problems is being arranged during the Annual convention and
                leading luminaries of technical education are invited to deliver special lectures and delegates will
                present research papers. ISTE is actively involved in many activities conducted by All India Council for
                Technical Education New Delhi (AICTE) and National Board of Accreditation New Delhi (NBA). Recently ISTE
                was partner to AICTE and NBA in the conduct of Second Chhatra Vishwakarma Award and WOSA respectively.
                <br><br>
                ISTE is having collaboration and MoUs with government organsations and various Universities for the
                promotion of technical education system in the country.
            </p>
        </div>
    </div>
</div>
{% endblock %}