{% extends 'base.html' %}
{% load static %}
{% block title %} ISTE WB Section {% endblock title %}

{% block about-iste %}active{% endblock %}

{% block css %}
<style>
    table,
    th,
    td {
        border: 2px solid black;
        border-collapse: collapse;
    }
</style>
{% endblock %}

{% block content %} {% load widget_tweaks %}

<br>
<h1 style="text-align:center;">Students' Chapter</h1>

{% if chapters %}
<div class=" table-responsive container border flex mt-4 text-center col-lg-12" style="padding: 0 ;">
    <table class="">
        <tr>
            <th width="10%">Chapter Code</th>
            <th width="30%">Name</th>
            <th width="40%">Address</th>
            <th width="20%">Email</th>
        </tr>
        {% for chapter in chapters %}
        <tr>
            <td style="padding: 10px ;">{{chapter.chapter_code}}</td>
            <td style="padding: 10px ;">{{chapter.name}}</td>
            <td style="padding: 20px ;">{{chapter.college}}<br>{{chapter.address}}</td>
            <td style="padding: 10px ;"> <a href=mailto:{{chapter.email}}>{{chapter.email}}</a></td>
        </tr>
        {% endfor %}

    </table>
</div>
{% else %}
<br>
<p style="text-align: center;">
    We are populating the list of Students' Chapters in West Bengal Section !!
</p>
{% endif %}
{% endblock %}