@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(168, 218, 220, 0.1);
  font-family: "Open Sans", sans-serif;
}

.page-content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  width: 100%;
}


h1,
h2,
h3 {
  font-weight: 600;
  color: #163269;
}

a {
  text-decoration: none;
}

.nav-css {
  background-color: rgba(5, 25, 35, 1);
  padding: 15px 0;
  margin-bottom: 0%;
}
.dropdown-item {
  color: rgba(255, 255, 255, 0.8);
}
.dropdown-item:hover {
  color: #111a2d;
}

.text-responsive {
  font-size: calc(10% + 1vw + 1vh);
}

#loader {
  position: fixed;
  inset: 0;
  z-index: 9999;
}