  body
  {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow-x: hidden;
    min-height: 100vh;
  }

  footer{
    left: 0;
    position: absolute;
    right: 0;
    bottom: -50px;

  }