.gallery h1 {
  font-size: 42px;
  text-align: center;
  margin-top: 20px;
}
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* gap: 15p;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3); */
  margin: 0 auto;
  margin-top: 30px;
  object-fit: contain;
}
.gallery-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
  padding: 10px;
}
.gallery-item:hover {
  opacity: 1;
}
.gallery-item img {
  width: 100%;
  object-fit: cover;
}
.gallery-content {
  font-size: 0.8em;
}

.lightbox {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  overflow: auto;
  top: 10vh;
  left: 0;
}
.lightbox-content {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 5% auto;
}
.lightbox-content img {
  border-radius: 7px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.lightbox-prev,
.lightbox-next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 7px;
  top: 45%;
  cursor: pointer;
}
.lightbox-prev {
  left: 0;
}
.lightbox-next {
  right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .gallery-container {
    width: 100%;
  }
  .gallery-item {
    flex-basis: 49.8%;
    margin-bottom: 3px;
  }
  .lightbox-content {
    width: 80%;
    height: 60%;
    margin: 15% auto;
  }
}
@media (max-width: 480px) {
  .gallery-item {
    flex-basis: 100%;
    margin-bottom: 1px;
  }
  .lightbox-content {
    width: 90%;
    margin: 20% auto;
  }
}
