.home-title {
  text-align: center;
  margin: 20px 0;
}
.home-title h1 {
  font-variant-caps: all-petite-caps;
}

.announcements h1 {
  color: #507bfc;
  font-size: 27px;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: #163269;
  float: left;
  margin-right: 30px;
}
.announcementHeaderLine {
  font-size: 27px;
  border-bottom-width: 3px;
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-top: 0.6em;
}
.copyCenter {
  text-align: center;
}
.box {
  max-width: 100%;
  padding: 0px 10px;
  overflow: auto;
  margin: 20px 5px;
}
.copyArea {
  max-width: 850px;
  float: none;
  display: block;
  overflow: hidden;
}
.copyArea p {
  margin-top: 20px;
}

/* Unique Box Styles */
.newsletter {
  /* background:turquoise; */
  /* border-top:5px solid #2A9489; */
  border-top: 3.5px solid #507bfc;
  border-radius: 5px;
  /* color: #2A9489; */
  background-color: rgba(255, 255, 255, 1);
  color: #111a2d;
}

.about_section {
  margin: 45px 0;
}
.about_section h2 {
  text-align: center;
  margin-bottom: 10px;
}

.card-title {
  font-weight: bolder;
  font-size: 16px;
}
.card-text {
  font-size: 12px;
}
.card-body a {
  text-decoration: none;
}

.carouselHeight{
  height: 65vh;
}
.carousel-item img {
  height: 100%;
}
.carousel-indicators {
  color: white;
}

.h1-text {
  font-size: 1.3rem;
  margin: 40px 0;
  color: #2c2c2c;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1-text i {
  background-color: #509bfc;
  color: #fff;
  width: 40px;
  height: 40px;
  box-shadow: 2px 5px 30px rgba(80, 123, 252, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: 0 20px;
}

.team-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.team-box {
  position: relative;
  min-width: 300px;
  background-color: #fff;
  box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 60px;
  position: relative;
  border-radius: 10px;
}

.top-bar {
  width: 50%;
  height: 4px;
  background: #507bfc;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 10px 10px;
}

.content img {
  width: 30vh;
  height: 30vh;
  border-radius: 120px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content strong {
  font-weight: 500;
  color: #141414;
  margin-top: 10px;
}
.content p {
  font-size: 0.9rem;
  color: #7a7a7a;
  margin: 4px 0px 10px 0px;
  cursor: pointer;
}
.content p:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .eventsBoard{
    margin-top: 45px;
    margin-bottom: 15px;
  }
}

@media (max-width: 476px) {
  .about_section h2{
    text-align: left;
    font-size: 21px;
  }
  .carouselHeight{
    height: 40vh;
  }
}

.date {
  background-color: #001333 !important;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
}
