
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.home-title{
    text-align: center;
    margin: 20px 0;
}
.home-title h1{
    
    font-variant-caps: all-petite-caps;
}

.announcements h1 {
  color: royalblue;
}
a:hover {
  color: #00cccc;
}
.copyCenter {
  text-align: center;
}
.box {
  max-width: 100%;
  padding: 0px 10px;
  overflow: auto;
  margin: 20px 5px;
}
.copyArea {
  max-width: 850px;
  float: none;
  display:block;
  overflow: hidden;
}
.copyArea p {
  margin-top: 20px;
}


/* Unique Box Styles */
.newsletter{
  /* background:turquoise; */
  /* border-top:5px solid #2A9489; */
  border-top:5px solid blue;
  border-radius: 5px;
  /* color: #2A9489; */
  background-color: skyblue;
  color: royalblue;
}
.card{
    height: 25vh;
}
.card-image{
    height: 35vh;
}
.card-title{
    font-weight: bolder;
    font-size: 16px;
}
.card-text{
    font-size: 12px;
}
.card-body a{
    text-decoration: none;
}
.carousel-item{
    /* border: 2px solid red; */
    padding-top: 2vh;
    object-fit: cover;
    height: 60vh;
}
.carousel-item img{
   height: 90%;
}
.carousel-indicators{
    margin-bottom: -10px;
}
.home-hr1{
    margin: 60px 0 ;
}

