{% extends 'base.html' %}
{% load static %}
{% block title %} ISTE WB Section {% endblock title %}

{% block about-iste %}active{% endblock %}

{% block content %} {% load widget_tweaks %}
<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-12 col-lg-12" >
            <h2 style="text-transform: uppercase ; text-align: center;"> Indian Society for Technical Education </h2>
            <p>
                <br>
                The Indian Society for Technical Education (ISTE) is the leading National Professional non-profit making
                Society for the Technical Education System in our country with the motto of Career Development of
                Teachers and Personality Development of Students and overall development of our Technical Education
                System. Being the only national organisation of educators in the field of Engineering and Technology,
                ISTE effectively contributes in various missions of the Union Government. The strength of ISTE is the
                strong base it has in technical education institutions in the country.
                <br><br>
                ISTE has an Executive Council at National level. It has active membership of more than 128500 technical
                teachers, 535000 student members, more than 2740 institutional members (including IITs, IISc., NITs and
                other leading technical institutions), 1414 faculty chapters and 1505 students’ chapters at National
                level and 19 Sections at State Level .
                <br><br>
                The major objective of the ISTE is to provide quality training programmes to teachers and administrators
                of technical institutions to update their knowledge and skills in their fields of activity and to assist
                and contribute in the production and development of top quality professional engineers and technicians
                needed by the industry and other organisations.
                <br><br>
                It organizes an annual convention for faculty and students separately every year where a large number of
                technocrats, technical teachers, policy makers, experts from the industry etc. participate and interact.
                Every year a National Seminar with a specific theme with respect to the latest development in the field
                of Science and Technology and societal problems is being arranged during the Annual convention and
                leading luminaries of technical education are invited to deliver special lectures and delegates will
                present research papers. ISTE is actively involved in many activities conducted by All India Council for
                Technical Education New Delhi (AICTE) and National Board of Accreditation New Delhi (NBA). Recently ISTE
                was partner to AICTE and NBA in the conduct of Second Chhatra Vishwakarma Award and WOSA respectively.
                <br><br>
                ISTE is having collaboration and MoUs with government organsations and various Universities for the
                promotion of technical education system in the country.
                <br><br>
                <ul>
                    <li>Premier National Society for Teachers and Students of the Technical Education System with more than 102985 teacher and 5.5 lakh student members, 2410 Institutional Members, 1214 Faculty Chapters and 1322 Student Chapters</li>
                    <li>Strategic partner of AICTE.</li>
                    <li>Professional Refinement Programmes for faculty members of AICTE approved Technical Institutions sponsored by AICTE.</li>
                    <li>Premier Agency operating MHRD, AICTE, MIT and International Projects.</li>
                    <li>Reputed source for Information Dissemination through publications, seminars, workshops in Technical Education.</li>
                    <li>Major Consultant for Educational Management, Institution Building, Career and Personality development of teachers and students respectively.</li>
                    <li>Professional Society giving over more than 70 National and Regional Awards to Institutions, Teachers and Students for innovation and excellence in various areas of Engineering and Technology.</li>
                    <li>Organisation having meaningful interaction among technical institutions of Degree/Diploma levels all over the Country.</li>
                    <li>Preparation and Publication of Learning Materials and CDs in Electronics and Computers for Degree/Diploma Level Students.</li>
                    <li>Learning Project for Working Professionals.</li>
                    <li>ISTE-Srinivasa Ramanujan Mathematical Competitions</li>
                    <li>ISTE-SRM Short-Term Training Programmes</li>
                    <li>ISTE-PTU Faculty Development Programmes</li>
                </ul>   
            </p>
        </div>
    </div>
</div>
{% endblock %}