{% extends 'base.html' %}
{% load static %}
{% block title %} ISTE WB Section {% endblock title %}

{% block about-iste %}active{% endblock %}

{% block content %} {% load widget_tweaks %}
<div class="container" style="margin-top: 20px;">
    <h2 style="text-align: center;"> Code of Conduct </h2>
    <br>
    <p><span style="color: #507bfc;"><b>FOR ISTE MEMBERS</b></span></p>
    <p><strong>The following Code of Professional Conduct and Ethics shall be applicable to office bearers and members
            of all categories of the Society:</strong></p>
    <ul>
        <li>Members should at all times preserve the dignity and interest of the profession and of the Society by
            maintaining a high standard of professional and personal conduct;</li>
        <li>They should work in the best interest of the Society;</li>
        <li>They should neither engage in personal advertisement, nor canvas for an appointment, nor take any action
            which is detrimental to sister Institutions;</li>
        <li>They should at all times endeavour to establish and maintain the best possible conditions of service for
            their colleagues and other staff;</li>
        <li>When a Member represents the Society, he should as far as possible state the policy of the Society. If he
            has any disagreement with a policy of the Society, he may so inform the Society. The Executive Council will
            then decide the further course of action (including the question of the Society’s representation) that is to
            be taken.</li>
        <li>Where, having regard to this Code of Conduct a Member wishes to make a complaint against another Member of
            the Society, he should do so in writing to the Executive Council. If the Executive Council is of the opinion
            that prima-facie case of infringement of the Code of Conduct has been established it will appoint a
            Committee for investigation. On the basis of the report of the Committee, the Executive Council will take a
            final decision on the matter.</li>
    </ul>
    <br>
    <p><span style="color: #507bfc;"><b>FOR ENGINEERING TEACHERS DEALING WITH STUDENTS</b></span></p>
    <ul>
        <li>Deal justly and impartially with students regardless of their social, economic, regional and religious
            background.</li>
        <li>Recognise the differences among students and seek to meet their individual needs.</li>
        <li>Encourage students to work for higher individual goals. Aid students to develop an understanding and
            appreciation not only of opportunities and benefits but also responsibilities.</li>
        <li>Inculcate in students respect for teachers, love towards fellow students and loyalty to institution and the
            country.</li>
        <li>Acquaint students with civic responsibilities and environmental protection.</li>
        <li>Never use students to solve his/her personal problems.</li>
        <li>Accept no remuneration for tutoring except in accordance with approved policies of Government /
            Institutions..</li>
    </ul>
    <br>
    <p><span style="color: #507bfc;"><b>DEALING WITH SOCIETY</b></span></p>
    <ul>
        <li>Adhere to any reasonable pattern of behavior accepted by the Society for professional persons.</li>
        <li>Respect the community in which employed and be loyal to the institute system and the country.</li>
        <li>Render possible assistance to the development of the Society and use your knowledge and skill for
            enhancement of human welfare.</li>
    </ul>
    <br>
    <p><span style="color: #507bfc;"><b>DEALING WITH EMPLOYER</b></span></p>
    <ul>
        <li>Strive to fulfill one's obligation to the Institute for maintaining a high level of professional service.
        </li>
        <li>Maintain the dignity and interest of the profession by maintaining high standard of professional and
            personal conduct.</li>
        <li>Co-operate in the development and implementation of institutional policies and programmes.</li>
        <li>Conduct professional business through proper channel.</li>
        <li>Refrain from discussing confidential and official information with unauthorised persons.</li>
        <li>Accept no compensation from equipment suppliers and other agencies. Never engage in any gainful employment
            outside the institution where the employment affects adversely the professional status or standing with
            students, associates and society.</li>
    </ul>
    <br>
    <p><span style="color: #507bfc;"><b>GENERAL BEHAVIOUR</b></span></p>
    <ul>
        <li>Seek to make professional growth continuous by such procedures as study, research, and attending
            conferences, professional meetings and continuing education programmes.</li>
        <li>Make the teaching profession so attractive in ideals and practices that sincere and able young men / women
            want to enter it.</li>
        <li>Be punctual and regular in teaching work, correspondence with others and keeping appointments with other
            persons.</li>
        <li>Encourage one's fellow teachers to adhere to proper ethical behaviour.</li>
        <li>Speak constructively of other teachers but report honestly to responsible persons in matters involving the
            welfare of students, institution system and the profession.</li>
        <li>Maintain active membership in professional organisation and through participation, strive to attain the
            objectives that justify such organisations.</li>
        <li>Never engage in personal advertisement of canvass for an appointment.</li>
        <li>Never seek self-enhancement through expressing evaluations or comparisons damaging to other professional
            workers.</li>
    </ul>
</div>
{% endblock %}